html 
  head 
    title ejemplo3
    link(rel="stylesheet" href="style.css")
  body
    div
      h1 lista super 
      ol
        each val in miarraydeInfo
          li(class="toplaner")=val 
      if mostrarLista2
        ul
          each val in listaObjetos
            li(class= val.style)= val.name
        p Info iteraciones => https://pugjs.org/language/iteration.html
        p Info Condicionales => https://www.nodejsera.com/library/pug/pug-conditionals.html
      else 
        p='no te muestro nada'