html
  head
    title ejemplo2
    link(rel="stylesheet" href="style.css")
  body
    h1(id="idgenerico")=titulo
    p(id="id1" class="toplaner midlaner")="HOLA"
    div(id="migrupo1")
      p='hola'
      h1='holax2'