<form method="POST" action="api/personas">
  <div>
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" required>
  </div>
  <div>
    <label for="apellido">Apellido</label>
    <input type="text" name="apellido" required>
  </div>
  <div>
    <label for="edad">Edad</label>
    <input type="text" name="edad" required>
  </div>
  <div>
    <input type="submit">
  </div>
</form>