<style>
    .table td, .table th {
        vertical-align: middle;
    }
    h1 {
        color: blue;
    }
    hr {
        background-color: #ddd;
    }
    .jumbotron {
        min-height: 100vh;
    }
</style>

<div class="jumbotron">
    <h1>Vista de Productos</h1>
    <br>

    <div class="table-responsive">
        <table id='myTable' class="table table-dark">
            <tr>  <th>ID</th> <th>Nombre</th> <th>Precio</th></tr>
        </table>
    </div>
</div>