<div class="container mt-1">
    <div class="jumbotron">
        <h1>Ingrese Producto</h1>
        <br>
        <!-- Campo nombre del producto -->
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input id="nombre" class="form-control" type="text" name="nombre" required>
        </div>

        <!-- Campo precio del producto -->
        <div class="form-group">
            <label for="precio">Precio</label>
            <input id="precio" class="form-control" type="number" step="0.01" name="precio" required>
        </div>

        <!-- Botón de envío -->
        <button id='Submit' class="btn btn-success mt-3">Enviar</button>
    </div>
</div>