<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: rgb(191, 226, 191);color: darkgreen;">
        <h1>USER OK LOGIN!</h1>
        <br>
        <h2><i>Bienvenido {{nombre}}</i></h2>
        <br>
        <img src="{{foto}}" width="100" alt=""><br>
        <a href="#">{{email}}</a>
        <br>
        <br>
        <h4>Visitas: {{contador}}</h4>
        <a class="btn btn-danger mt-3" href="/api/logout"><span class="fa fa-sign-out"></span><span> Logout</span></a>
    </div>
</div>
