<div class="container my-5">

<div class="jumbotron text-center text-primary">
    <h1><span class="fa fa-lock"></span> Social Authentication</h1>
    <br>
    <!-- <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> SignIn with Google</a> -->
    <a href="/api/auth/twitter" style="background-color: #00aae4" class="btn btn-primary"><span class="fa fa-twitter"></span> Login con Twitter</a>
</div>