<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejemplo 3</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <%- include ('./ejemplo2.ejs') %>
    <%- include ('./parciales/list1.ejs') %>
      <%- include ('./parciales/list2.ejs') %>

</body>

</html>