<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo 2</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1 id="miID2">
        <%= titulo %>
    </h1>
    <p class="toplaner">
        <%= mensaje %>
    </p>
</body>

</html>