<form id='formMensajes'>
    <div class='form-group'>
        <label for='email'>Email</label>
        <input class='form-control' type='email' name='email' id='email' required>
    </div>
    <div class='form-group'>
        <label for='nombre'>Nombre</label>
        <input class='form-control' type='text' name='nombre' id='nombre' required>
    </div>
    <div class='form-group'>
        <label for='apellido'>Apellido</label>
        <input class='form-control' type='text' name='apellido' id='apellido' required>
    </div>
    <div class='form-group'>
        <label for='alias'>Alias</label>
        <input class='form-control' type='text' name='alias' id='alias' required>
    </div>
    <div class='form-group'>
        <label for='edad'>Edad</label>
        <input class='form-control' type='number' name='edad' id='edad' required>
    </div>
    <div class='form-group'>
        <label for='avatar'>Avatar</label>
        <input class='form-control' type='text' name='avatar' id='avatar' required>
    </div>
    <div class='form-group'>
        <label for='mensaje'>Mensaje</label>
        <input class='form-control' type='mensaje' name='mensaje' id='mensaje' required>
    </div>
    <div class='mt-2'>
        <input type='submit' class='btn btn-warning'> 
    </div>
</form>