<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: green;color: white;">
        <h1>USER OK LOGIN!</h1>
        <h2><i>Bienvenido {{datos.nombre}}</i></h2>
        <br>
        <h3>dirección: {{datos.direccion}}</h3>
        <h4>visitas: {{contador}}</h4>
        <button class="btn btn-danger my-5" onclick="location.href='/logout'">LOGOUT</button>
    </div>
</div>
